*{
    height: auto;
}
body{
    background-image: linear-gradient(to bottom,hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}
.conteiner{
    background-color: white;
    height: 500px;
    width: 1000px;
    margin: 7rem auto;
    border-radius: 20px;
    display: flex;
    background-image: url(./images/bg-pattern-desktop.svg);
    background-position: left ;
    background-repeat: no-repeat;
    background-size: cover;
}

.womandesktop{
    height: auto;
    margin: 1rem auto;
    margin-left: -150px;
}
.faq{
    width: 50%;
    align-items: flex-end;
    margin: right;
}