*{
    height: auto;
}
body{
    background-image: linear-gradient(to bottom,hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}
.conteiner{
    background-color: white;
    height: 500px;
    width: 1000px;
    margin: 7rem auto;
    border-radius: 20px;
}
.pattern{
    height: 750px;
    margin: left;
    position: absolute;
    margin-top: -200px;
    margin-left: -400px;
}
.womandesktop{
    height: auto;
    margin: 1rem auto;
    margin-left: -150px;
}